.git
.github
.idea
.impeccable
.playwright-cli
.pytest_cache
.venv
.vscode

__pycache__
*.py[cod]
*.log

build
dist
output
venv

frontend/palworld-pal-editor-webui/.playwright-cli
frontend/palworld-pal-editor-webui/dev-dist
frontend/palworld-pal-editor-webui/dist
frontend/palworld-pal-editor-webui/node_modules
frontend/palworld-pal-editor-webui/output

src/ooz.pyd
src/palworld_pal_editor/logs
src/palworld_pal_editor/webui

mod
tests
appimagetool-x86_64.AppImage
